table(class="SA-control-table")
    tr(class="SA-control-group")
        td(class="SA-control-label")
            label(for="addDependency_name") Search by name: 
        td(class="SA-control")
            input(type="text",
                class="form-control",
                id="addDependency_name",
                data-bind="response.name",
                data-event-change="loadDependencies",
                data-event-keyup="loadDependencies")
    tr(class="SA-control-group")
        td(class="SA-control-label")
            label(for="addDependency_id") Choose a fact: 
        td(class="SA-control")
            select(class="form-control",
                id="addDependency_id",
                data-bind="response._id")
                option(data-foreach-dependency="dependencyList",
                    data-bind-value="dependency._id",
                    data-bind="dependency.name")