include ../mixins/formModal
include ../mixins/deleteModal

ul(class="breadcrumb")
    li
        a(data-route="routes") Courses
    li(class="active",
        data-bind="currentCourse.name")

div
    a(data-toggle="modal",
        href="#deleteCourseModal",
        class="SA-icon-link icon-trash icon-2x pull-right",
        style="margin-left: 10px; margin-top: 10px",
        title="Delete")
    mixin deleteModal("'deleteCourseModal'", 'deleteCourse | withArguments currentCourse', 'Delete course...', 'Are you sure you want to permanently delete this course and all related facts and proofs?')

    a(data-toggle="modal",
        href="#editCourseModal",
        class="SA-icon-link icon-edit icon-2x pull-right",
        style="margin-left: 10px; margin-top: 10px",
        data-event-click="resetCourseResponse | withArguments currentCourse",
        title="Edit")
    mixin formModal("'editCourseModal'", 'courseResponse', 'course', 'saveCourse | withArguments courseResponse', 'Edit course details...', 'Dismiss', 'Save')

    a(data-toggle="modal",
        href="#addFactModal",
        class="SA-icon-link icon-plus icon-2x pull-right",
        style="margin-left: 10px; margin-top: 10px",
        data-event-click="resetFactResponse",
        title="Add fact")
    mixin formModal("'addFactModal'", 'factResponse', 'fact', 'saveFact | withArguments factResponse', 'Add a new fact...', 'Dismiss', 'Add')

    h1(data-bind="currentCourse.name")

hr

div(data-foreach-fact="factList")
    div(class="SA-panel")
        div(class="SA-panel-heading",
            data-toggle="collapse",
            data-bind-data-target="'#factContent' | append fact._id")
            span(data-bind="fact.name")
            i(class="icon-arrow-right icon-large pull-right",
                data-route="routes.course[currentCourse].fact[fact]")
        div(class="collapse",
            data-bind-id="'factContent' | append fact._id")
            div(class="SA-panel-content")
                img(data-bind-id="'fact' | append fact._id | append 'Img'",
                    data-bind-src="'#{basepath}/image/latex/' | append fact._id | append '.png'",
                    style="max-width: 100%; height: auto; margin-top: 10px")
