include ../mixins/formModal
include ../mixins/deleteModal

ul(class="breadcrumb")
    li
        a(data-route="routes") Courses
    li
        a(data-route="routes.course[currentCourse]",
            data-bind="currentCourse.name")
    li(class="active",
        data-bind="currentFact.name")

div
    a(data-toggle="modal",
        href="#deleteFactModal",
        class="SA-icon-link icon-trash icon-2x pull-right",
        style="margin-left: 10px; margin-top: 10px",
        title="Delete")
    mixin deleteModal("'deleteFactModal'", 'deleteFact | withArguments currentFact', 'Delete fact...', 'Are you sure you want to permanently delete this fact and all related proofs?')

    a(data-toggle="modal",
        href="#editFactModal",
        class="SA-icon-link icon-edit icon-2x pull-right",
        style="margin-left: 10px; margin-top: 10px",
        data-event-click="resetFactResponse | withArguments currentFact",
        title="Edit")
    mixin formModal("'editFactModal'", 'factResponse', 'fact', 'saveFact | withArguments factResponse', 'Edit fact details...', 'Dismiss', 'Save')

    a(data-showif="currentFact.canHaveProof",
        data-toggle="modal",
        href="#addProofModal",
        class="SA-icon-link icon-plus icon-2x pull-right",
        style="margin-left: 10px; margin-top: 10px",
        data-event-click="resetProofResponse",
        title="Add proof")
    mixin formModal("'addProofModal'", 'proofResponse', 'proof', 'createProof | withArguments proofResponse, currentFact', 'Add a new proof...', 'Dismiss', 'Add')

    h1(data-bind="currentFact.name")

hr

ul(id="factTab", class="nav nav-tabs")
    li(class="active")
        a(href="#factRendered", data-toggle="tab") Rendered
    li
        a(href="#factSource", data-toggle="tab") Source
div(id="factTabContent", class="tab-content")
    div(class="tab-pane fade active in", id="factRendered")
        img(id="factImg",
            data-bind-src="'#{basepath}/image/latex/' | append currentFact._id | append '.png'",
            style="max-width: 100%; height: auto; margin-top: 10px")
    div(class="tab-pane fade", id="factSource")
        textarea(rows="8", style="width: 100%",
            data-bind="currentFact.statement",
            data-event-blur="saveFact | withArguments currentFact")

div(data-showif="currentFact.canHaveProof")
    hr(data-hideif="currentFact.proofs.length | equals 0")

    div(data-foreach-proof="currentFact.proofs")
        div(class="SA-panel")
            div(class="SA-panel-heading",
                data-toggle="collapse",
                data-bind-data-target="'#proofContent' | append proof._id")
                span(data-bind="proof.name")
                span(data-hideif="proof.name") Proof
            div(class="collapse",
                data-bind-id="'proofContent' | append proof._id")
                div(class="SA-panel-content")
                    div(style="position: relative")
                        a(data-toggle="modal",
                            data-bind-href="'#deleteProofModal' | append proof._id",
                            class="SA-icon-link icon-trash icon-2x pull-right",
                            style="margin-left: 10px",
                            title="Delete")
                        mixin deleteModal("'deleteProofModal' | append proof._id", 'deleteProof | withArguments proof, currentFact', 'Delete proof...', 'Are you sure you want to permanently delete this proof?')

                        a(data-toggle="modal",
                            data-bind-href="'#editProofModal' | append proof._id",
                            class="SA-icon-link icon-edit icon-2x pull-right",
                            style="margin-left: 10px",
                            data-event-click="resetProofResponse | withArguments proof",
                            title="Edit")
                        mixin formModal("'editProofModal' | append proof._id", 'proofResponse', 'proof', 'saveFact | withArguments currentFact', 'Edit proof details...', 'Dismiss', 'Save')
                        
                        a(data-toggle="modal",
                            data-bind-href="'#addDependencyModal' | append proof._id",
                            class="SA-icon-link icon-plus icon-2x pull-right",
                            style="margin-left: 10px",
                            data-event-click="resetDependencyResponse",
                            title="Add dependency")
                        mixin formModal("'addDependencyModal' | append proof._id", 'dependencyResponse', 'dependency', 'createDependency | withArguments dependencyResponse, proof, currentFact', 'Add a new dependency...', 'Dismiss', 'Add')
                        
                        ul(class="nav nav-tabs")
                            li(class="active")
                                a(data-bind-href="'#proofContent' | append proof._id | append 'Rendered'",
                                    data-toggle="tab") Rendered
                            li
                                a(data-bind-href="'#proofContent' | append proof._id | append 'Source'",
                                    data-toggle="tab") Source
                        div(class="tab-content")
                            div(class="tab-pane fade active in",
                                data-bind-id="'proofContent' | append proof._id | append 'Rendered'")
                                img(data-bind-id="'proof' | append proof._id | append 'Img'",
                                    data-bind-src="'#{basepath}/image/latex/' | append proof._id | append '.png'",
                                    style="max-width: 100%; height: auto; margin-top: 10px")
                            div(class="tab-pane fade",
                                data-bind-id="'proofContent' | append proof._id | append 'Source'")
                                textarea(rows="8", style="width: 100%",
                                    data-bind="proof.text",
                                    data-event-blur="saveFact | withArguments currentFact")

                    div(data-hideif="proof.dependencies.length | equals 0")
                        hr
                        div(data-foreach-dependency="proof.dependencies")
                            a(data-toggle="modal",
                                data-bind-href="'#deleteDependencyModal' | append dependency._id",
                                class="SA-icon-link icon-remove pull-left",
                                style="margin-top: 2px; margin-right: 6px",
                                title="Remove")
                            mixin deleteModal("'deleteDependencyModal' | append dependency._id", 'deleteDependency | withArguments dependency, proof, currentFact', 'Delete dependency...', 'Are you sure you want to permanently delete this dependency?')
                            
                            a(data-route="routes.course[currentCourse].fact[dependency]",
                                data-bind="dependency.name")

div(class="modal fade",
    id="renderErrorModal")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button",
                    class="close",
                    data-dismiss="modal")
                h4(class="modal-title",
                    style="text-align: center") Latex rendering error!
            div(class="modal-body")
                p An error occured while rendering the latex for this fact, please correct any errors and try again.
            div(class="modal-footer")
                button(type="button",
                    class="btn btn-default",
                    id="renderErrorModalDismiss",
                    data-dismiss="modal") Dismiss