include ../mixins/formModal

h1 Courses

hr

div(data-foreach-course="courseList")
    div(class="SA-panel")
        div(class="SA-panel-heading",
            data-toggle="collapse",
            data-bind-data-target="'#content' | append course._id")
            span(data-source="course.name")
            i(class="icon-arrow-right icon-large pull-right",
                data-route="routes.course[course]")
        div(class="collapse", data-bind-id="'content' | append course._id")
            div(class="SA-panel-content")

hr

div(style="text-align: center")
    a(data-toggle="modal",
        href="#addCourseModal",
        class="btn btn-success",
        data-event-click="resetCourseResponse") Add course
mixin formModal("'addCourseModal'", 'courseResponse', 'course', 'saveCourse | withArguments courseResponse', 'Add a new course...', 'Dismiss', 'Add')
