table(class="SA-control-table")
    tr(class="SA-control-group")
        td(class="SA-control-label")
            label(for="addFact_name") Name: 
        td(class="SA-control")
            input(type="text",
                class="form-control",
                id="addFact_name",
                data-bind="response.name")
    tr(class="SA-control-group")
        td(class="SA-control-label")
            label(for="addFact_type") Type: 
        td(class="SA-control")
            select(class="form-control",
                id="addFact_type",
                data-bind="response.type")
                option(value="axiom") Axiom
                option(value="definition") Definition
                option(value="proposition") Proposition
                option(value="theory") Theory
                option(value="corollary") Corollary
                option(value="example") Example