include ../mixins/formModal

div
    a(data-toggle="modal",
        href="#addCourseModal",
        class="SA-icon-link icon-plus icon-2x pull-right",
        style="margin-left: 10px; margin-top: 10px",
        data-event-click="resetCourseResponse",
        title="Add course")
    mixin formModal("'addCourseModal'", 'courseResponse', 'course', 'saveCourse | withArguments courseResponse', 'Add a new course...', 'Dismiss', 'Add')

    h1 Courses

hr

div(data-foreach-course="courseList")
    div(class="SA-panel")
        div(class="SA-panel-heading",
            data-toggle="collapse",
            data-bind-data-target="'#content' | append course._id")
            span(data-source="course.name")
            i(class="icon-arrow-right icon-large pull-right",
                data-route="routes.course[course]")
        div(class="collapse", data-bind-id="'content' | append course._id")
